<%- include ("../../partials/head") %>

<body style="background-color:#1C1D1E;">
    <div class="ui inverted vertical masthead center aligned segment">
        <!-- Top Bar -->
    <div class="ui inverted container" >
        <div class="ui large secondary inverted pointing menu">
            <a href="/" class="item" style="margin-left: -20px;">Home</a>
            <a href="/login" class="item">Login</a>
            <a href="/users/home" class="item">Dashboard</a>
            <a href="/users/register" class="item">Register User</a>
            <a href="/users/delete" class="active item">Delete User</a>
            <div style="margin-right: -50px;" class="right inverted item">
                <a href="http://www.clayton-mcculloh.com/" class="ui button">Meant to visit Clayton & McCulloh's Homesite? Click Here!</a>
            </div>
        </div>
    </div>

    
    <div class="ui segment" style="background-color:lightslategray;">
        <h1></h1>
        <div class="ui text container" style="background-color:lightslategray;">
            <div class="ui grid" id="login-grid">
                <div class="row">
                    <div class=" twelve wide centered column" id="login-right">
                        <div class="ui inverted divider" style="margin-top: 0px;margin-bottom: -10px"></div>
                        <h1 class="ui inverted header" style="color: black">
                            Delete users below:
                        </h1>
                        <div class="ui inverted divider" style="margin-top: 0px;margin-bottom: 0px"></div>


                        <% if(locals.message){ %>
                            <% locals.message.success.forEach(function(msg){ %>
                                <div class="ui tiny success message ">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        <%=msg%>
                                    </div>
                                </div>
                            <% }) %>
                            <% locals.message.failure.forEach(function(msg){ %>
                                <div class="ui tiny error message ">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        <%=msg%>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>

                        <div class="ui relaxed items">
                            <% users.forEach(function(user){ %>
                                <div class="item">
                                    <div class="middle aligned content">
                                        <div class="header">
                                            <%=user.fName %>  <%=user.lName %> 
                                        </div>
                                        <div class="description">
                                            <%=user.email %> 
                                        </div>
                                        <div class="extra">
                                            
                                            <form action="/users/delete/<%=user.id%>?_method=DELETE" name="_name" method="POST">
                                                <button class="ui right floated red small button">
                                                    Delete User
                                                </button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>