<%- include ("../../partials/head") %>

<head>
    <script>
        function deleteUser(id, fN, lN) {
            const form = document.querySelector("#confirmDeleteForm");
            form.action = `/users/delete/${id}?_method=DELETE`;
            var button = document.querySelector("#confirmButton");
            button.innerHTML = "Confirm Deletion of: " + fN + " " + lN;
            button.classList.toggle("disabled");
            //button.classList.toggle("active");
        }

    </script>

    <style>
        #confirmDeleteForm {
            margin-top: 20px;
            justify-content: center;
        }
    </style>

</head>

<body style="background-color:#1C1D1E;">
    <div class="ui inverted vertical masthead center aligned segment">
        <!-- Top Bar -->
    <div class="ui inverted container" >
        <div class="ui large secondary inverted pointing menu">
            <a href="/" class="item" style="margin-left: -20px;">Home</a>
            <a href="/login" class="item">Login</a>
            <a href="/users/dashboard" class="item">Dashboard</a>
            <a href="/users/register" class="item">Register User</a>
            <a href="/users/delete" class="active item">Delete User</a>
            <div style="margin-right: -50px;" class="right inverted item">
                <a href="http://www.clayton-mcculloh.com/" class="ui button">Meant to visit Clayton & McCulloh's Homesite? Click Here!</a>
            </div>
        </div>
    </div>
        
    <div class="ui segment" style=" background-color:lightslategray;">
        <div class="ui 2 centered column doubling stackable grid scrolling content container" style="background-color:lightslategray; margin-top: -15px;">
            <h1></h1>
            <div class="row">
                <div class="six wide column "  style= "overflow: auto; max-height: 40em">
                    <style>
                        .border-1 {
                            border: 2px solid black;
                            padding-left: 5px;
                        }
                    </style>
                    <div class="border-1 ui relaxed items">
                        <% users.forEach(function(user){ %>
                            <div class="item">
                                <div class="middle aligned content">
                                    <div class="header">
                                        <%=user.fName %>  <%=user.lName %> 
                                    </div>
                                    <div class="description">
                                        <%=user.email %> 
                                    </div>
                                    <div class="extra">
                                        <% // THIS LINE WORKS %>
                                        <button id="delbut" style="margin-right: 5px" onclick= "deleteUser(<%= user.id %>, '<%= user.fName %>', '<%= user.lName %>')" class="ui right floated red small button">
                                            Delete User
                                        </button>
                                    </div>
                                    <div class="ui inverted divider" style="margin-top: 0px;margin-bottom: -0px"></div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="six wide column" style="margin-left: 150px;">
                    <div class="ui inverted divider" style="margin-top: 15px;margin-bottom: -20px"></div>
                    <h1 class="ui inverted header" style="color: black">
                        Delete users from the column on the left:
                    </h1>
                    <div class="ui inverted divider" style="margin-top: -10px;margin-bottom: -0px"></div>
                    <%- include ("../../partials/flash") %>
                    <ul>
                        <li>
                            <h3 class="ui inverted header" id="rightBar" style="color: black">
                                Action is non-reversible
                            </h3>
                        </li>
                        <li>
                            <h3 class="ui inverted header" id="rightBar" style="color: black">
                                Only non-admin users shown
                            </h3>
                        </li>
                    </ul>
                    <div class="ui inverted divider" style="margin-top: 0px;margin-bottom: -0px"></div>
                    <%- include ("../../partials/flash") %>
                    <form id="confirmDeleteForm" action="" name="_name" method="POST">
                        <button id="confirmButton" class="fluid ui toggle red button disabled" type="submit">
                            Confirm Deletion of:
                        </button>
                    </form> 
                    
                </div>
            </div>
        </div>
    </div>
    
</body>


